@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smoother fonts (Notion-like) */
body {
  @apply bg-stone-100 text-stone-900 antialiased;
}

/* Hide number input arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
